<!-- DOCTYPE html -->
<html lang="ru" style="--scroll-fixed-width:960px; --layout-width:960px;">
    <head class="auth_login">
   	    <title> VConnect'e </title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
   	</head>

   	<body style="background-color: 151715; width: auto; height: auto">
        <div class="wrapper">
            <p class="def-text" style="color: 14A819; font-family: HACKER; text-align:center; font-size: 500%"> 
                VConnect'e
            </p>

            <form style="text-align: center;">
                <p><input type="text" size="25" name=login_temp style="font-family: Rostov; color: 14A819; font-size: 150%" placeholder="Логин"></p>
                <p><input type="password" size="25" name=password_temp style="font-family: Rostov; color: 14A819; font-size: 150%" placeholder="Пароль"></p> <br> <br>

                <input type="submit" id=process_input value=Войти style="font-family: Rostov; color: 14A819; font-size: 150%" />
                <input type="submit" value=Регистрация style="font-family: Rostov; color: 14A819; font-size: 150%" />
            </form>
        </div>
    </body>
</html>
